<body class="bg-dark">

    <div class="container d-grip gap-3 y-4">

        <div class="row ">
            <div class="d-flex align-items-center col-lg-3">
                <h2 class="text-light" id="tituloFilme">{{artista.nome}} </h2>
                <div class="ms-auto text-end">
                    <i class="'bi bi-heart fs-3 text.warning align-items-center"></i>
                </div>
            </div>
        </div>



        <div class="row gap-3">
            <div class="col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <ngb-carousel *ngIf="images" class="w-100 h-100">
                    <ng-template ngbSlide *ngFor="let image of images; let i = index">
                        <div>
                            <img [src]="image" [alt]="'Slide ' + (i + 1)" class="img-fluid rounded-3" />
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>

            <div class="col-lg">
                <div>
                    <h5 class="f-5 text-light align-items-justify " id="biografia">{{artista.biografia}}</h5>
                </div>
            </div>
        </div>

        <h1 class="text-white">Filmografia</h1>
        <div class="row g-3">
            <div class="col-6 col-md-4 col-lg-2" *ngFor="let filme of filmes">
                <app-card-filme [filme]="filme"></app-card-filme>
            </div>
        </div>


        <!-- <div class="row">
            <div class="d-flex m-3 gap-1 col-4 col-md-4 col-lg-1 " id="divGeneros" *ngFor="let genero of filme.generos">
                <span class="badge rounded-pill fs-7 px-2 py-2 bg-warning text-dark">{{genero}}</span>
            </div>
        </div>

        <div class="row border-top">
            <div class="col-lg-1 align-items-center">
                <h5 class="f-5 text-light fw-bolder  ">Direção:</h5>
            </div>
            <div class="col-lg-3 d-flex">
                <span class="badge rounded-pill fs-4 px-5 py-2 bg-black text-light " id="direcao">
                    {{filme.diretor.name}}</span>
            </div>
        </div>

        <div class="row border-top d-flex" id="divElenco">
            <div class="col-lg-1">
                <h5 class="f-5 text-light fw-bolder ">Elenco:</h5>
            </div>
            <div class="col-lg-1 d-flex" id="nomesElenco">

            </div>

            <div class="row g-3">
                <div class="col-6 col-md-4 col-lg-2" *ngFor="let artista of filme.elenco"
                    routerLink="/view/artista-detalhes/{{artista.id}}">
                    <div class=" d-grid gap-1 text-center">
                        <p class="text-light text-decoration-none mb-0">{{artista.name}}</p>
                        <img class="img-fluid rounded-3" id="poster"
                            src="https://image.tmdb.org/t/p/original/{{artista.profile_path}}">
                        <a class="fs-7 link-warning text-decoration-none fst-italic"
                            id="titulo">{{artista.character}}</a>
                    </div>
                </div>
            </div>



        </div> -->

    </div>
</body>